<!DOCTYPE html>
<html>

<head>
  <title>Tiny Survey Select Option</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 class="mb-3 mt-3">&#10068; Tiny Survey</h1>
    <h2>
      <%=topic%>
    </h2>
    <form action="/recordselection/<%=topic%>" method="POST">
      <% options.forEach(option=> { %>
        <p>
          <input type="radio" name="selections" id="<%=option.text%>" value="<%=option.text%>">
          <label for="<%option.text%>">
            <%=option.text%>
          </label>
        </p>
        <% }) %>
          <p>
            <button type="submit" class="btn btn-primary mt-1">Send</button>
          </p>
    </form>
    <p>
      Select your preference and click Send
    </p>
  </div>
</body>

</html>